<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

{% endcomment %}

{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}


<div class="row row-product{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">

  <a class="product-image" href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
  </a>
  <a class="product-title" href="{{ product.url | within: collection }}">
    {{ product.title }}
  </a>
  <a class="product-price" href="{{ product.url | within: collection }}">
    {% if product.price_varies %}Desde{% endif %}
  	{{ product.price | money }}
  	{% if on_sale %}
      <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
  	{% endif %}
  </a>
  {% comment %}
    All themes by Shopify should support the Product Reviews app out of the box.
    https://apps.shopify.com/product-reviews
  {% endcomment %}
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

</div>
